<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="../vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory>../src</directory>
        </include>
        <report>
            <clover outputFile="./results/coverage.xml"/>
            <html outputDirectory="./results/report"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php" phpVersion="7.4">Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php" phpVersion="7.4">Unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="./results/report.dotx"/>
        <junit outputFile="./results/junit.xml"/>
    </logging>
</phpunit>
